<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DatabaseService" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Business_Services.Models.DatabaseService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DatabaseServieses" connectionString="data source=LNCDEV01SFUI01;initial catalog=LoanCareMobile;user id=TCSDevUser;password=Burnt_T0ast;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MDBServices" connectionString="data source=LNCDEV01SFUI01;initial catalog=LoanCareMobile;user id=LCMobileUser;password=Dr.P3pp3r;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MDBServices1" connectionString="data source=LNCDEV01SFUI01;initial catalog=LoanCareMobile;user id=LCMobileUser;password=Dr.P3pp3r;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MDBService" connectionString="data source=10.238.153.70;initial catalog=LoanCareMobile;user id=LCMobileUser;password=Dr.P3pp3r;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>