<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
   <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>  
  <log4net>
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\LoanCareMobile.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />      
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %aspnet-request{REMOTE_ADDR} %level [%thread] %type.%method - %message%n %stacktrace{4}%n" />
      </layout>
    </appender>
    <appender name="DBAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection" />
      <connectionStringName value="LoancareDB" />
      <commandText value="INSERT INTO [dbo].[AppLog] ([LogDate],[Thread],[LogLevel],[Logger],[Message],[Exception],[SessionId],[TransId],[UserId],[Url]) VALUES (@log_date,@thread,@log_level,@logger,@message,@exception,@SessionId,@TransId,@UserId,@Url)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout">
          <conversionPattern value="%property{LogDate}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ThreadId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@SessionId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{SessionId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@TransId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{TransId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Url" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Url}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ERROR" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="LogAppender" />
      <appender-ref ref="DBAppender" />
    </root>
  </log4net>  
  <connectionStrings>
    <!--DIV Database-->
    <!--<add name="LoancareDB" connectionString="Data Source=LNCDEV01SFUI01;Initial Catalog=LoanCareMobile;Persist Security Info=True;User ID=LCMobileUser;Password=Dr.P3pp3r;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--SIT Database-->
    <add name="LoancareDB" connectionString="Data Source=10.238.153.70\UAT;Initial Catalog=LoanCareMobile;Persist Security Info=True;User ID=LCMobileUser;Password=Dr.P3pp3r;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--PROD Database-->
    <!--<add name="LoancareDB" connectionString="Data Source=10.238.153.70;Initial Catalog=LoanCareMobile;Persist Security Info=True;User ID=LCMobileUser;Password=Dr.P3pp3r;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="AuthTokenExpiry" value="900" />    
    <!--SIT URL-->
	  <!--<add key="B2Curl" value="https://lcapiqa.test.servicelinkfnf.com"></add>-->
    <add key="securityProtocolTypeValue" value ="Tls12"/>
    <!--UAT URL-->
    <add key="B2Curl" value="https://lcui.test.servicelinkfnf.com"></add>
    <!-- <add key="B2Curl" value="https://lcapiuat.test.servicelinkfnf.com"></add>-->
    <!--PROD URL-->
    <!--<add key="B2Curl" value="https://gomobileb2c.myloancare.com/"></add>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <!--test check-->

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
